{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'homespace/fonts/icomoon/style.css' %} " />
    <link rel="stylesheet" href="{% static 'homespace/fonts/flaticon/font/flaticon.css' %} " />

    <link rel="stylesheet" href="{% static 'homespace/css/tiny-slider.css' %} " />
    <link rel="stylesheet" href="{% static 'homespace/css/aos.css' %} " />
    <link rel="stylesheet" href="{% static 'homespace/css/style.css' %} " />
    <link rel="stylesheet" href="{% static 'homespace/css/style_login.css' %} " />
    <link rel="stylesheet" href="{% static 'homespace/css/style_profile.css' %} " />

    <title>
      HomeSpace
    </title>
  </head>
  <body>

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="index.html" class="logo m-0 float-start">HomeSpace</a>
    {% if user.is_authenticated %}
            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li class="has-children">
                <a href="{% url 'property' %}">Properties</a>
                <ul class="dropdown">
                  <li><a href="#">Add Property</a></li>
                  <li><a href="#">View Properties</a></li>
                </ul>
              </li>

              <li class="has-children">
                <a href="#">{{user.get_full_name}}</a>
                <ul class="dropdown">
                  <li><a href="#">My Account</a></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>


            </ul>
    
            {% else %}

            <ul
            class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
          >
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li class="has-children">
              <a href="{% url 'property' %}">Properties</a>
              <ul class="dropdown">
                <li><a href="#">Buy Property</a></li>
                <li><a href="#">Sell Property</a></li>
                <li class="has-children">
                  <a href="#">Dropdown</a>
                  <ul class="dropdown">
                    <li><a href="#">Sub Menu One</a></li>
                    <li><a href="#">Sub Menu Two</a></li>
                    <li><a href="#">Sub Menu Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="{% url 'service' %}">Services</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'login' %}">Sign In</a></li>

          </ul>

          {% endif %}


            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    {% block 'content' %}
    
    {% endblock 'content' %}

    <script src="{% static 'homespace/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'homespace/js/tiny-slider.js' %} "></script>
    <script src="{% static 'homespace/js/aos.js' %} "></script>
    <script src="{% static 'homespace/js/navbar.js' %} "></script>
    <script src="{% static 'homespace/js/counter.js' %} "></script>
    <script src="{% static 'homespace/js/custom.js' %} "></script>
  </body>
</html>